@font-face {
  font-family: "summerdream";
  src: url(../font/Summerdreamsansdemo-X396G.ttf);
}

body,
html {
  font-family: "summerdream", sans-serif;
}

p {
  font-size: 40px;
}

#smooth-wrapper {
  width: 100%;
  overflow-x: hidden !important;
}

.scrollNum {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 50px;
  margin: -25px 0 0 -150px;
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  z-index: 99999;
}

#smooth-content {
  overflow: visible;
  width: 100%;
  height: 1000vh;
  background-color: red;
  /* height: calc(500vh + 3060px); */
  /* 전체 높이 */
}

#section01 {
  height: 980px;
  width: 100vw;
}

.section02.bgimg {
  background-repeat: no-repeat;
  background-size: contain;
}

/* 
#section01.bg01 {
  position: absolute;
  top: 0;
  height: 490px;
  width: 100vw;
  background-color: #ff00ee;
  z-index: 100;
}
#section01 .bg02 {
  position: absolute;
  bottom: 0;
  height: 490px;
  width: 100vw;
  background-color: #262626;
  z-index: 100;
}
#section01 .bg03 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0px;
  width: 100vw;
  background-color: #101010;
  z-index: 200;
}

#section02 {
  height: 100vh;
  background: pink;
}
#section03 {
  height: 100vh;
  background: skyblue;
}  */
