#smooth-wrapper {
  width: 100%;
  overflow-x: hidden !important;
}

.scrollNum {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 50px;
  margin: -25px 0 0 -150px;
  background: #111;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  z-index: 99999;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 900;
}

#header .introducing {
  margin-left: 30px;
}

#header .buds {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#header .menu {
  margin-right: 30px;
}

/* 메인 타이틀 */
.maintitle01 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1802px;
  height: 430px;
  z-index: 150;
}

.maintitle01.off {
  display: none;
}

.maintitle01 li + li {
  margin-top: 20px;
}

.maintitle01 .title_01 {
  position: absolute;
  top: 0;
  left: 0;
}

.maintitle01 .title_stroke_01 {
  position: relative;
  z-index: 1234;
}

#smooth-content {
  overflow: visible;
  width: 100%;
  /* height: calc(500vh + 3060px); */
  /* 전체 높이 */
}

/************************* section01 ***************************/

#section01 {
  height: 4000px;
  background-image: url(../img/part1-1/background.jpg);
}
.trigger01 {
  height: 4000px;
}
.fix01 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#section01 .bg01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background: url(../img/part1-1/background_00.jpg);
}

#section01 .rbtext_01 {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 172px;
  height: 18px;
  background: url(../img/part1-1/galaxy_buds_pro_red.png);
  transition: 1s;
}

#section01 .rbtext_01.on {
  background: url(../img/part1-1/galaxy_buds_pro_right_bottom.png);
}

#section01 .lbtext_01 {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 312px;
  height: 10px;
  background: url(../img/part1-1/noise_cenceling_red.png);
  transition: 1s;
}

#section01 .lbtext_01.on {
  background: url(../img/part1-1/noise_canceling.png);
}

.maintitle01 .mainimg01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 300;
}
.maintitle01 .mainimg01 img {
  width: 100%;
  height: 100%;
}

#section01 .main_text_01 {
  position: absolute;
  top: 161px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  opacity: 0;
  /* mix-blend-mode:unset; */
}

#section01 .long_text_01 {
  position: absolute;
  left: 80px;
  bottom: 170px;
  opacity: 0;
}

/************************* section02 ***************************/
#section02 {
  height: 1200px;
  background: #191919;
}

/************************* section03 ***************************/
#section03 {
  position: relative;
  background: white;
  height: 1300px;
}

/* 메인 이미지 */
#section03 .main_picture01_03 {
  position: absolute;
  left: 340px;
  top: 1000px;
  z-index: 100;
  /* opacity: 0; */
}
#section03 .main_picture02_03 {
  position: absolute;
  right: 340px;
  /* 시작위치 */
  bottom: 650px;
  /* opacity: 0; */
}

/* 메인 텍스트 */
#section03 .main_right_title_03 {
  position: absolute;
  right: -200px;
  top: 310px;
  opacity: 0;
}
#section03 .main_right_title_03 li + li {
  margin-top: 20px;
}

#section03 .main_left_title_03 {
  position: absolute;
  left: -1000px;
  bottom: 178px;
  z-index: 200;
}
#section03 .main_left_title_03 li + li {
  margin-top: 20px;
}

#section03 .long_text_03 {
  position: absolute;
  left: 847px;
  bottom: 335px;
  z-index: 200;
}

/* 꾸밈요소 */
#section03 .intelligent_anc_03 {
  position: absolute;
  left: 340px;
  top: 175px;
  /* 이미지 크기대로 박스를 쳐주는 느낌 */
  height: 19px;
  /* 사이즈(w,h 사이즈) 바깥으로 나가는 것 잘라주기 */
  overflow: hidden;
}
/* 이미지가 이미지박스 크기 밖에 있다가  */
#section03 .intelligent_anc_03 img {
  transform: translateY(19px);
  transition: 1s;
}
/* 이미지가 화면에 나타남 */
#section03 .intelligent_anc_03.on img {
  transform: translateY(0);
}

#section03 .left_top_text_03 {
  position: absolute;
  left: 30px;
  top: 30px;
}
#section03 .plus_03 {
  position: absolute;
  left: 166px;
  top: 270px;
}

#section03 .right_top_text_03 {
  position: absolute;
  right: 134px;
  top: 185px;
}

#section03 .left_bottom_text_03 {
  position: absolute;
  left: 30px;
  bottom: 240px;
  height: 19px;
  overflow: hidden;
}
#section03 .left_bottom_text_03 img {
  transform: translateY(19px);
  transition: 1s;
}
#section03 .left_bottom_text_03.on img {
  transform: translateY(0);
}

#section03 .right_bottom_text_03 {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

#section03 .arrow_03 {
  position: absolute;
  right: 200px;
  bottom: 500px;
}

/************************ section04 **************************/
#section04 {
  width: 100vw;
  height: 8360px; /* 가로 총 길이 */

  overflow-x: visible;
}

#section04 .container {
  position: relative;

  height: 100vh;
}

#section04 .slides {
  display: flex;
}

/* #section04 section {
  width: inherit;
} */

#section04 .slide1 {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/part1-4/picture.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#section04 .slide1 > div {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#section04 .slide2 {
  width: 200vw;
  height: 100vh;
}
#section04 .slide3 {
  width: 100vw;
  height: 100vh;

  background: blue;
}
#section04 .slide4 {
  width: 100vw;
  height: 100vh;
}
#section04 .slide5 {
  width: 100vw;
  height: 100vh;
}

/* #section04 .picture_04 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
} */

#section04 .maintitle04 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section04 .maintitle04 .title1_04 {
  margin-left: 70px;
  height: 94px;
  overflow: hidden;
}
#section04 .title1_04 img {
  transform: translateY(94px);
  transition: 1s;
}
#section04 .title1_04.on img {
  transform: translateY(0);
}

#section04 .maintitle04 .title2_04 {
  height: 95px;
  overflow: hidden;
}
#section04 .title2_04 img {
  transform: translateY(95px);
  transition: 1s;
}
#section04 .title2_04.on img {
  transform: translateY(0);
}

#section04 .maintitle04 li + li {
  margin-top: 21px;
}

#section04 .title_side_text_04 {
  position: absolute;
  right: 500px;
  top: 510px;
}
/* 링 */
#section04 .ring_04 {
  position: absolute;
  left: 180px;
  top: 300px;
}
#section04 .small_plus_04 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#section04 .right_bottom_04 {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
/* 플러스 */
#section04 .plus01_04 {
  position: absolute;
  right: 550px;
  top: 300px;
}
#section04 .plus02_04 {
  position: absolute;
  right: 500px;
  top: 400px;
}
#section04 .plus03_04 {
  position: absolute;
  right: 200px;
  top: 200px;
}
#section04 .plus04_04 {
  position: absolute;
  right: 220px;
  top: 450px;
}

/************************ section05 **************************/

#section05 {
  position: relative;
  height: 100vh;
  width: 2600px;
  background-color: black;
  overflow: hidden;
}

#section05 .title_first_05 {
  position: absolute;
  right: -2000px;
  bottom: 160px;
}

#section05 .title_second_05 {
  position: absolute;
  left: -2000px;
  bottom: 50px;
}

#section05 .ldft_top_text_05 {
  position: absolute;
  left: 50px;
  top: 30px;
}

#section05 .picture1_05 {
  position: absolute;
  left: 200px;
  bottom: 160px;
  /* 이미지 크기대로 박스를 쳐주는 느낌 */
  height: 233px;
  overflow: hidden;
}
/* 이미지가 이미지박스 크기 밖에 있다가  */
#section05 .picture1_05 img {
  transform: translateY(233px);
  transition: 1s;
}
#section05 .picture1_05.on img {
  transform: translateY(0);
}

#section05 .picture2_05 {
  position: absolute;
  left: 700px;
  top: 150px;
  z-index: 100;
  /* 이미지 크기대로 박스를 쳐주는 느낌 */
  height: 296px;
  overflow: hidden;
}
#section05 .picture2_05 img {
  transform: translateY(296px);
  transition: 1s;
}
#section05 .picture2_05.on img {
  transform: translateY(0);
}

#section05 .picture3_05 {
  position: absolute;
  left: 1200px;
  top: 100px;
  /* 이미지 크기대로 박스를 쳐주는 느낌 */
  height: 192px;
  overflow: hidden;
}
#section05 .picture3_05 img {
  transform: translateY(192px);
  transition: 1s;
}
#section05 .picture3_05.on img {
  transform: translateY(0);
}

#section05 .picture4_05 {
  position: absolute;
  left: 1500px;
  bottom: 130px;
  /* 이미지 크기대로 박스를 쳐주는 느낌 */
  height: 397px;
  overflow: hidden;
}
#section05 .picture4_05 img {
  transform: translateY(397px);
  transition: 1s;
}
#section05 .picture4_05.on img {
  transform: translateY(0);
}

#section05 .immersive_sound_05 {
  position: absolute;
  left: 100px;
  top: 300px;
}
#section05 .immersive_sound_05 li + li {
  margin-top: 10px;
}

#section05 .IMMERSIVE_05 {
  height: 26px;
  overflow: hidden;
}
/* 이미지가 이미지박스 크기 밖에 있다가  */
#section05 .IMMERSIVE_05 img {
  transform: translateY(26px);
  transition: 1s;
}
#section05 .IMMERSIVE_05.on img {
  transform: translateY(0);
}
#section05 .SOUND_05 {
  height: 26px;
  overflow: hidden;
}
/* 이미지가 이미지박스 크기 밖에 있다가  */
#section05 .SOUND_05 img {
  transform: translateY(26px);
  transition: 1s;
}
#section05 .SOUND_05.on img {
  transform: translateY(0);
}

#section05 .GET_LOST_IN_05 {
  height: 26px;
  overflow: hidden;
}
/* 이미지가 이미지박스 크기 밖에 있다가  */
#section05 .GET_LOST_IN_05 img {
  transform: translateY(26px);
  transition: 1s;
}
#section05 .GET_LOST_IN_05.on img {
  transform: translateY(0);
}
#section05 .THE_STUDIO_SOUND_05 {
  height: 26px;
  overflow: hidden;
}
/* 이미지가 이미지박스 크기 밖에 있다가  */
#section05 .THE_STUDIO_SOUND_05 img {
  transform: translateY(26px);
  transition: 1s;
}
#section05 .THE_STUDIO_SOUND_05.on img {
  transform: translateY(0);
}

#section05 .IMMERSIVE_SOUND_05 {
  height: 26px;
  overflow: hidden;
}
/* 이미지가 이미지박스 크기 밖에 있다가  */
#section05 .IMMERSIVE_SOUND_05 img {
  transform: translateY(26px);
  transition: 1s;
}
#section05 .IMMERSIVE_SOUND_05.on img {
  transform: translateY(0);
}
#section05 .TAKE_NOISE_FREE_CALLS_05 {
  height: 26px;
  overflow: hidden;
}
/* 이미지가 이미지박스 크기 밖에 있다가  */
#section05 .TAKE_NOISE_FREE_CALLS_05 img {
  transform: translateY(26px);
  transition: 1s;
}
#section05 .TAKE_NOISE_FREE_CALLS_05.on img {
  transform: translateY(0);
}

#section05 .get_lost_in_05 {
  position: absolute;
  left: 190px;
  top: 400px;
}
#section05 .get_lost_in_05 li + li {
  margin-top: 10px;
}

#section05 .circle {
  position: absolute;
  left: 540px;
  top: 260px;
}

#section05 .take_noise_05 {
  position: absolute;
  left: 1600px;
  top: 250px;
}
#section05 .take_noise_05 li + li {
  margin-top: 10px;
}

#section05 .plus {
  position: absolute;
  left: 1400px;
  top: 400px;
}

#section05 .plus2 {
  position: absolute;
  left: 2330px;
  top: 40px;
}

#section05 .circle_text_05 {
  position: absolute;
  left: 2200px;
  top: -100px;
  width: 292px;
  height: 292px;
}

/************************ section06 **************************/
#section06 {
  height: 100vh;
  width: 1920px;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

#section06 .title1_06 {
  display: flex;
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -33%);
  width: 100vw;
  height: 113px;
  z-index: 100;
}

#section06 .title2_06 {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 121px;
  z-index: 100;
}

#section06 .title3_06 {
  display: flex;
  position: absolute;
  left: 50%;
  top: 67%;
  transform: translate(-50%, -67%);
  width: 100vw;
  height: 113px;
  z-index: 100;
}

#section06 .image1_06 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
#section06 .image2_06 {
  position: absolute;
  left: 20%;
  top: 15%;
  transform: translate(-20%, -15%);
  z-index: 100;
}
#section06 .image3_06 {
  position: absolute;
  right: 15%;
  top: 85%;
  transform: translate(-15%, -85%);
  z-index: 100;
}
#section06 .iine1_06 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#section06 .iine2_06 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#section06 .line_star1_06 {
  position: absolute;
  right: 21%;
  top: 15%;
  transform: translate(-21%, -15%);
}
#section06 .line_star2_06 {
  position: absolute;
  left: 31%;
  bottom: 20%;
  transform: translate(-31%, -20%);
}
#section06 .content_06 {
  position: absolute;
  left: 50px;
  bottom: 40px;
}
#section06 .on_background_06 {
  position: absolute;
  right: 50px;
  top: 70px;
}
#section06 .on_circle_06 {
  position: absolute;
  right: 60px;
  top: 77px;
}
#section06 .on_06 {
  position: absolute;
  right: 130px;
  top: 86px;
}

/************************ section07 **************************/
#section07 {
  position: relative;
  height: 100vh;
  width: 1920px;
  background-image: url(../img/part2-3/64f557133472299.61d298ef930b0.gif);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#section07 .title1_07 {
  position: absolute;
  left: 21%;
  top: 42%;
  transform: translate(-21%, -42%);
}

#section07 .title2_07 {
  position: absolute;
  left: 70%;
  top: 58%;
  transform: translate(-70%, -58%);
}

#section07 .text_07 {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
#section07 .text_07 li + li {
  margin-top: 8px;
}

#section07 .bettery_life_07 {
  position: absolute;
  top: 330px;
  left: 220px;
}

#section07 .about_figure_07 {
  position: absolute;
  top: 30px;
  left: 40px;
}
#section07 .about_text_07 {
  position: absolute;
  top: 32px;
  left: 42px;
}
#section07 .plus_07 {
  position: absolute;
  top: 200px;
  left: 100px;
}
#section07 .plus2_07 {
  position: absolute;
  top: 100px;
  right: 130px;
}
#section07 .number2023_07 {
  position: absolute;
  top: 390px;
  left: 1200px;
}
#section07 .power_07 {
  position: absolute;
  top: 445px;
  left: 1200px;
}

#section07 .circle_line {
  position: absolute;
  bottom: 80px;
  left: -20px;
  width: 317px;
  height: 317px;
}
#section07 .play_text {
  position: absolute;
  bottom: 210px;
  left: 80px;
}
#section07 .right_bottom_text_07 {
  position: absolute;
  bottom: 50px;
  right: 30px;
}

/************************ section08 **************************/
#section08 {
  position: relative;
  height: 100vh;
  width: 1920px;
  background: rgb(255, 255, 255);
}

#section08 .side_text_container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 64px;
  height: 1920px;
  overflow: hidden;
}

/* 연속으로 텍스트 넘어가기(프레임 만들기) (자바스크립트도 사용)*/
#section08 .side_text_08 {
  position: absolute;
  left: 10px;
  width: 64px;
  /* height: 585px; */
  height: 2400px;
  /* 사이즈(w,h 사이즈) 바깥으로 나가는 것 잘라주기 */
}

#section08 .title_08 {
  position: absolute;
  left: 50%;
  top: 250px;
  transform: translateX(-50%);
  z-index: 100;
}
#section08 .title_08 li + li {
  margin-top: 20px;
}

#section08 .sub_title_08 {
  position: absolute;
  left: 50%;
  top: 160px;
  transform: translateX(-50%);
}

#section08 .circle_line_08 {
  position: absolute;
  top: 80px;
  right: 70px;
  width: 454px;
  height: 454px;
  z-index: 50;
}
#section08 .play_08 {
  position: absolute;
  top: 160px;
  right: 250px;
}

#section08 .picture_08 {
  position: absolute;
  top: 370px;
  right: 0px;
}

#section08 .right_text_08 {
  position: absolute;
  top: 800px;
  right: 20px;
}

#section08 .plus1_08 {
  position: absolute;
  top: 900px;
  left: 200px;
}
#section08 .plus2_08 {
  position: absolute;
  top: 1000px;
  left: 500px;
}
#section08 .plus3_08 {
  position: absolute;
  top: 1200px;
  left: 350px;
}

#section08 .left_text_08 {
  position: absolute;
  top: 1570px;
  left: 140px;
}
#section08 .bottom_text_08 {
  position: absolute;
  top: 1740px;
  left: 140px;
}
#section08 .bottom_text_08 li + li {
  margin-top: 8px;
}
/*************************************************************/

#section09 {
  /* 기다리고싶은 숫자만큼 변경 */
  height: calc(100vh + 1548px - 370px + 1000px);
  width: 1920px;
  /* section09 시작 */
  /* 기다리고싶은 숫자만큼 변경 */
  padding-top: calc((1548px - 598px) + 1000px);
}
#section10 {
  height: 100vh;
  width: 1920px;
  background: rgb(52, 181, 23);
}
#section11 {
  height: 100vh;
  width: 1920px;
  background: rgb(35, 57, 223);
}
#section12 {
  height: 100vh;
  width: 1920px;
  background: rgb(193, 12, 72);
}
#section13 {
  height: 100vh;
  width: 1920px;
  background: rgb(183, 252, 45);
}

.sticky-parent {
  height: 700vh;
}

.sticky {
  position: sticky;
  top: 0px;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.horizontal {
  display: flex;
}

.dim {
  display: block;
  min-width: 50vw;
  height: 100vh;
}
