#smooth-wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

::-webkit-scrollbar {
  display: none;
}

section {
  width: 100vw;
  position: relative;
}